<nav class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand">
  <div class="container-fluid">

        <!--    le menu si l'utilisateur N 'est PAS  conneté -->

    <ul *ngIf="!(user|async)" class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/membres/connexion">Se connecter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" routerLink="/produits">Liste des produits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" routerLink="/categories">Catégories </a>
        </li>
    </ul>
    <!--    le menu si l'utilisateur est conneté -->
    <ul *ngIf="user|async" class="navbar-nav  navbar-right">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/produits">Produits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/categories">Catégories </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" (click)="deconnexion()">Déconnexion de {{user|async}}</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
    </form>

    <div *ngIf="user|async" class="nav-item  navbar-right">
            
        <button class="nav-link active" type="button" class="btn btn-primary" (click)="getPanier()"><span class="glyphicon glyphicon-shopping-cart"></span> Panier</button>

    </div>
  </div>
</nav> 

