<!-- <div class="card-deck mb-3 text-center">
    <div *ngFor='let element of panier'  class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{element['nom']}} /{{element['modele']}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{element['prix']}} <small class="text-muted">€</small></h1>
        <div class="list-unstyled mt-3 mb-4">
            <img  [src]='element.image' class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        </div>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary"(click)="supprimerProduitPanier(element['_id'])">Supprimer du panier</button>
      </div>
    </div>
  </div> -->

  
  <div class="card-deck mb-3 text-center">
    <div *ngFor='let element of panier' >
    <div  class=" card  mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">{{element['nom']}} /{{element['modele']}}</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">{{element['prix']}} <small class="text-muted">€</small></h1>
        <div class="list-unstyled mt-3 mb-4">
            <img  [src]='"assets/"+element.nom+"_"+element.modele+".jpg"' class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
        </div>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary"(click)="supprimerProduitPanier(element['_id'])">Supprimer du panier</button>
      </div>
    </div>
    </div>
  </div> 