<!-- <p>add-membre works!</p>
    <div class="page-header">
          <h5>création d'un compte</h5>
        </div> 
       1 {{membreForm.value | json}}
    2 {{utilisateur | json}}
          <div class="row">
              <form (ngSubmit)="onFormSubmit()" #membreForm=ngForm >
                <div class="form-group">
                  <label class="control-label">nom:</label>
                  <input type="text" class="form-control" name="nom" [(ngModel)]="utilisateur['nom']">
                </div>
                <div class="form-group">
                        <label class="control-label">prénom:</label>
                        <input type="text" class="form-control" name="prenom" [(ngModel)]="utilisateur['prenom']">
                      </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" name="email" [(ngModel)]="utilisateur['email']">
                </div>
                <div class="form-group">
                  <label for="pw">mot de passe:</label>
                  <input type="password" class="form-control" name="pw" [(ngModel)]="utilisateur['password']">
                </div>
                <div class="row">
  
                    <input type="submit" class="btn btn-primary" value="valider"/>
                
                </div>
              </form>
      
            
      </div>
 -->





<form (ngSubmit)="onSubmit()" #inscriptionForm1="ngForm">
  <div class="form-group col-md-12">
    <label> nom </label>
    <input type="text" class="form-control" required [(ngModel)]="utilisateur['nom']" name="nom" />
  </div>
  <div class="form-group col-md-12">
    <label> prenom </label>
    <input type="text" class="form-control" required [(ngModel)]="utilisateur['prenom']" name="prenom" />
  </div>

<div class="form-group col-md-12">
  <label> Email </label>
  <input type="text" class="form-control" required [(ngModel)]="utilisateur['email']" name="email" />
</div>
<div class="form-group col-md-12">
  <label> Mot de passe </label>
  <input type="password" class="form-control" required
         [(ngModel)]="utilisateur['password']" name="password" />
</div>
  <input type="submit" class="btn btn-primary " value="valider"/>
</form>
<p> {{message}} </p>

